@tailwind base;
@tailwind components;
@tailwind utilities;

.active-rl {
  --tw-bg-opacity: 1;
  background-color: rgb(10 46 54 / var(--tw-bg-opacity));

  --tw-text-opacity: 1;
  color: rgb(41 194 225 / var(--tw-text-opacity));
  
  fill: #29C2E1;
}
